<h3>{{ _('IFFTMaker') }}</h3>
<p>See <a href="http://ifttt.com/maker_webhooks" target=_new>ifttt.com/maker_webhooks</a> for details on setting up recipies and getting your
<code>maker key</code>.</p>

<form class="form-horizontal">
    <div class="row-fluid">
	<div class="span3"><h4>Maker Key</h4></div>
	<div class="span4">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.IFTTTmaker.makerkey">
        </div>
    </div>
    <div><hr></div>
    <div class="row-fluid">
        <div class="span3"><h4>Notification</h4></div>
        <div class="span3"><h4>Trigger</h4></div>
        <div class="span1"><h4>Enable</h4></div>
    </div>

    {% set events = ["PrintStarted", "PrintFailed", "PrintDone", "PrintCancelled", "MovieDone", "ClientOpened"] %}
    {% for event in events %}

    <div class="row-fluid">
        <div class="span3">{{event}}</div>
        <div class="span3">op-{{event}}</div>
        <div class="span1 control-group" title="Enable or disable this notification">
          <input type="checkbox" data-bind="checked: settings.plugins.IFTTTmaker.events.{{ event }}">
        </div>
    </div>
    {% endfor %}

</form>

